*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}

.presentation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture {
    width: 7em;
    height: 7em;
    border-radius: 100%;
}

.title {
    color: #007DF1;
}

